@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DynaPuff', cursive;
}

body {
  padding: 12px;
  margin: 3vw 13vw;
  margin-left: 7vw;
}

button {
  background-color: transparent;
  box-shadow: 11px 11px 11px;
}

input,
button {
  font-size: 2.5vw;
  border: 5px solid black;
  padding: 11px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 3% 3%;
  padding: 3%;
  gap: 21%;
}

h1 {
  padding-top: 8%;
  font-size: 7vw;
}

.part-one,
.part-two {
  width: 50%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 26px;
}

.head h3,
.part-two h3 {
  font-size: 3vw;
}

.head button {
  padding: 1%;
}

.part-one-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 25px;
  font-weight: 600;
  border: 5px solid #000;
  width: 34vw;
}

.part-one-ul li {
  padding: 12px;
  font-size: 3vw;
}

.part-one-ul li:nth-child(odd) {
  background-color: #d3d3d3;
}

.part-two h3 {
  padding-bottom: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input::placeholder {
  font-size: 2.5vw;
  color: #000;
  font-weight: 600;
}

.part-two button {
  align-self: end;
}
