@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

body {
  margin: 2.5vw 7vw 0 7vw;
  background-image: url('../img/Subtle-Clouds-Texture-Pattern.webp');
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  height: 94vh;
}

i {
  color: #e9c46a;
}

button > i {
  color: #000;
}

input,
button {
  font-size: 2.0vw;
  border: 0;
  padding: 11px;
  color: #000;
  font-weight: 400;
}

button {
  background-color: #ffffff9e;
  box-shadow: 0px 13px 15px -3px rgba(0,0,0,0.9);
  color: #1b5849;
  border-radius: 16px;
}

input {
  padding-bottom: 0;
  background-color: transparent;
}

hr {
  width: 50%;
  align-self: end;
  margin-bottom: 25px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  gap: 15%;
}

h1 {
  font-size: 4vw;
  text-align: center;
}

.part-one,
.part-two {
  width: 50%;
    padding: 2%;
    box-shadow: 0px 19px 15px -3px rgba(0,0,0,0.8);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.head h3,
.part-two h3 {
  font-size: 2.8vw;
  font-weight: 400;
}

.head button {
  padding: 1%;
  font-size: 2vw;
  background-color: transparent;
  
}

.part-one-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 25px;
  font-weight: 400;
  border: 5px solid transparent;
  width: 33vw;
  overflow-y: scroll;
  height: 50vh;
}

.part-one-ul li {
  padding: 12px;
  font-size: 2vw;
  margin-right: 7%;
  border-bottom: 2px solid;
}

.ul-li > div {
  display: flex;
  align-items: center;
}

.ul-li > div > div{
  display: flex;
  padding-left: 30px;
}

.ul-li > div > div > p {
  padding-right: 15px;
}

.part-two h3 {
  padding-bottom: 5%;
}

.form {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  font-size: 2.5vw;
  color: #000;
  font-weight: 400;
}

.part-two button {
  align-self: end;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}